/* ------------------------------------------------------------ */
/* [CSS] - root-body.css ( default )
/* ------------------------------------------------------------ */
/* defines all default css settings on the whole webpages
/* e.g color variables , etc. 
/* ------------------------------------------------------------ */


html { 

    /* works by anker jumping & use smooth scroll effect ,
    /* old way would be to programming it in java script */
    scroll-behavior: smooth;
}


/* ----------------------------------------------------------------- */
/* Body & Default Layout ( header, main , footer )
/* ----------------------------------------------------------------- */

body {

    /* delete default margin of webpage of 8px */
    margin:0;

    overflow-x: hidden; 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* 1rem is default 16px, u can use 1em too */
    /* 1rem is fixed and 1em is realtive */
    font-size: calc( .3vw + 1rem);


    /* ----------------------------------------- */
    /* Default Layout ( header , main , footer ) */
    /* ----------------------------------------- */
    display: grid;
    grid: auto 1fr auto / 1fr;


}




/* ----------------------------------------------------------------- */
/* Colors
/* ----------------------------------------------------------------- */

:root { 


/* ----------------------------------------- */
/* Dark Colors                               */
/* ----------------------------------------- */

    /* black & grey */
    --black: black;
    --moon-dark: #212121;
    --dark-grey: #616161;

    /* brown */
    --dark-brown: #6b5441;
    --dark-light-brown: #61380B;


/* ----------------------------------------- */
/* Light Colors                              */
/* ----------------------------------------- */

    /* light grey & light brown */
    --skin-brown: #d1c0a5;
    --light-skin-brown: #D9BF98;
    --light-grey: #d3d3d3;

    /* light blue */
    --css-blue: #2dceff;
    --lightblue: lightblue;

    /* white */
    --white:white;


    
}