/* ------------------------------------------------------------ */
/* [CSS] - footer.css ( default )
/* ------------------------------------------------------------ */
/* defines all default css settings for the footer for all
/* pages
/* ------------------------------------------------------------ */



/* --------------------------------------------------------- */
/* Footer 
/* --------------------------------------------------------- */


footer { 


    background-color: var(--black);

}