/* ------------------------------------------------------------ */
/* [CSS] - header.css ( default )
/* ------------------------------------------------------------ */
/* defines all default css settings on the whole webpages
/* only for the header 
/* ------------------------------------------------------------ */



/* ----------------------------------------------------------------- */
/* Header
/* ----------------------------------------------------------------- */

header {

    /* parent relative pos , for all under pos */
    position: relative;
    top:0;

}

#header-layout { 

    position: fixed;
    /* left, right comination stretch the container 
    /* in the correct way as 100% */
    /* dont forget, fixed use 100vw, by using 100% width */
    left:0;
    right:0;

    background-color: var(--black);
    color:var(--white);

    display: grid;
    align-items: center;

    
    padding-left: calc(.1vw + .8em);
    padding-right: calc(.1vw + .8em);

    padding-top: calc(.1vw + .5em);
    padding-bottom: calc(.1vw + .3em);

    height: 4.5em;

    
}

/* ---------------------------------------------- */
/* Header Anker Nav Layout
/* ---------------------------------------------- */

#header-anker-nav-layout {

    display: flex;
    column-gap: calc(.1vw + .7em);
    align-items: center;
}


/* -------------------------------------------------- */
/* Header Anker Scrolling Handling by fixed header
/* -------------------------------------------------- */

div#anker-welcome , 
 div#anker-myfinishedprojects , 
  div#anker-contactme , 
   div#anker-more { 

    /* because our header is fixed , and
    /* anker jump to the top of page margin:0,
    /* & our header is 4em, so it jumps direct under 
    /* fixed header */
    /* normaly it should be 4em , but i tried, the best
    /* solution is to put .1em less, because
    /* in chrome browser than there is no minimal line */
    /* header is 4.5em + padding top, .5em + .3em padding-bottom */
    scroll-margin-top: 5.2em;

   }

/* ---------------------------------------------- */
/* Header Anker Nav Links (a)
/* ---------------------------------------------- */

#header-anker-nav-layout a { 
    
    /* default is inline */
    display: block;
    color: var(--white);
    text-decoration: none;

    font-weight: bold;

    padding: calc(.1vw + .3em);

}

#header-anker-nav-layout a:hover {

    transition: .3s;
    background-color: var(--skin-brown);
    color:var(--black);
}



/* ---------------------------------------------- */
/* Header Title Container
/* ---------------------------------------------- */

#header-title-container {

    display: flex;
    justify-content: flex-end;
    column-gap: calc(.1vw + .8em);
    align-items: center;
}

#header-title { 

    font-weight: bold;
}

#header-sub-title { 

    color:var(--skin-brown)

}