/* ------------------------------------------------------ */
/* [CSS] - responsive-index.css 
/* ------------------------------------------------------ */
/* Mobile First, so default is designed on small device
/* 
/* > [ >= 860px] go for desktop layout
/* > [ >= 2100px] go for better relation content scaling ; desktop layout
/* > [ >= 3501px] go for better relation content scaling ; desktop layout

/* ------------------------------------------------------ */




/* -------------------------------------------------------*/ 
/*  [ >= 860px] go for desktop layout
/* -------------------------------------------------------*/ 

@media (min-width: 860px ) {


    /* -------------------------------------------- */
    /* Header 
    /* -------------------------------------------- */

    #header-layout { 

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        padding-left: calc(.1vw + 2em);
        padding-right: calc(.1vw + 2em);
    }


    #header-title-container {

        display: grid;
        row-gap: .2vw;
        align-items: center;
    }


    /* -------------------------------------------- */
    /* Index Main & Footer
    /* -------------------------------------------- */

    main > div, footer  {

        padding-left: calc(.1vw + 2em);
        padding-right: calc(25vw + 2em);
    
        padding-top: calc(.1vw + 1em);
        padding-bottom: calc(.1vw + 1em);
    
    }

}


/* -------------------------------------------------------*/ 
/* [ >= 2100px & <= 3500px ] 24 - 27 Zoll 
/* -------------------------------------------------------*/ 

@media (min-width: 2100px) and (max-width: 3500px) {

    /*body {

        font-size: calc( .3vw + 1.2em);
    }*/


}


/* -------------------------------------------------------*/ 
/* [ >= 3501px ] 28 - 32 & more Zoll 
/* -------------------------------------------------------*/ 

@media (min-width: 3501px)  {

    body {

        font-size: calc( .3vw + 1.6rem);
    }
}